/* Estilo de la Pagina Inicio */
*{
    padding: 0;
    margin: 0;
}
.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 0, 106);
}
body{
    background-image: url(Imagenes/Pincelarte\ encabezado.jpg);
    background-size: 180px;
   
}
.titulo{
    color: white;
    background-color: rgb(235, 82, 113);
    margin-right: 18.5%;
}


.content{
    margin-right: 250px; /* Espacio para el aside */
    padding: 20px;
}
aside{
    position: fixed;
    top: 40px;
    right: 0;
    width: 250px;
    height: 50%;
    background-color:beige;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-left: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 40px;
    box-sizing: border-box;
    
}

.parrafo{
    background-color: burlywood;
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: content-box;
    box-shadow: 4px 4px 4px black;
    display: flex;
    justify-content:space-between;
   
    margin-right: 18.5%;
}
.accordion{
    margin-right: 18%;
}
.accordion-button{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline 2px solid violet;
}
.accordion-body{
    background-color: rgb(162, 84, 235);
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Estilo de la Pgina Contacto*/

.formulario{
   text-align: center;
   background-color: black;
   color: white;
   display: flex;
   justify-content: center;
   padding: 30px;
   width: 415px;
   margin-left: 500px;
   
   
}

/* Estilo de la Pagina Horarios */

table{
    border: 5px white solid;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}
.semana{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: purple;
    border: 2px white solid;
}
.Dias, .Niños, .Adultos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: palevioletred;
    border: 2px white solid;

}
.Martes, .ho1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(236, 61, 61);
    border: 2px white solid;
}
.Miercoles, .ho2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(245, 245, 43);
    border: 2px white solid;
}
.Jueves, .ho3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: skyblue;
    border: 2px white solid;
}
.Consultar{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: palevioletred;
    border: 1px white solid;
}

/*Estilo de la Pagina Productos */


.body{
    background-color: rgb(228, 76, 106);
}
.card{
    display: flex;
    flex-direction: column;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: auto;
    background-image: url(Imagenes/Pincelarte\ encabezado.jpg);
    background-size: 180px;
}
.card-body{
    width: 200px;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    background-color: rgb(30, 192, 138);
    color: rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3;
}
.card-body:hover{
    transform: scale(0.9);
    transition: all 0.3s;
}
.cardimg{
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 4px #333;

}
.card-title{
    font-weight: bold;
    font-size: 18px;
}
.card-info{
    color: rgb(63, 59, 59);
    font-size: small;
}
.btn{
    background-color: blueviolet;
}
footer{
    background-color: rgb(231, 76, 76);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-small;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    font-size: 14px;
    max-height: max-content;
    position: relative;
    bottom: 0%;
    width: 100%;

}
/* footer {
   position: fixed;
   bottom: 0%;
   width: 100%;

  } */

.pie, .fondo{
    color: white;
    padding: 10px;
    width: 100%; height: 100%;
    font-size: 14px;
    text-align: center;
    
}







/* Estilo pagina Fotos */
.tabla{
    border: 10px white solid;
    border-collapse: separate;
    margin-left: auto;
    margin-right: auto;
}
.Fotos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: purple;
    color: white;
    border: 2px white solid;
}
.fila{
    border: 2px white solid;
}

