/* Estilo de la Pagina Inicio */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 0, 106);
}
footer{
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    max-height: max-content;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(230, 55, 55);
}
aside{
    float:right;
    background-color:beige;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    margin-left: 90%;
    padding: 1%;
}
body{
    background-image: url(Imagenes/Pincelarte\ encabezado.jpg);
    background-size: 180px;
}
.h1{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parrafo{
    background-color: burlywood;
    border: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: content-box;
    box-shadow: 4px 4px 4px black;
    display: flex;
    justify-content:space-between;
    
}